@font-face {font-family: "Founders Grotesque Regular";
  src: url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/da63a43c94671aa80bd4a28cf6bff32c.svg#Founders Grotesque Regular") format("svg"); /* iOS 4.1- */
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #E5E5E5;
}