.terms {
  margin: 0px auto  122px;
  width: 1220px;
  position: relative;
}

.terms .container {
  margin-top: 65px;
}

.terms .links {
  width: 282px;
  text-align: start;
}

.terms .links h5 {
  margin-bottom: 30px;
}

.terms .spacer {
  margin: 0 40px;
}

.terms .content {
  width: 899px;
  text-align: start;
}

.terms .content p {
  margin-bottom: 10px;
}

.terms .content h3 {
  margin: 40px 0 30px;
}

.terms .heading {
  position: absolute;
  top: 140px;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .terms {
    width: calc(100% - 40px);
    margin-bottom: 0px;
  }
}

@media (orientation: portrait) {
  .terms {
    padding: 30px 20px 30px;
    position: relative;
  }

  .terms .topimage {
    height: 457px;
  }

  .terms .links, .terms .spacer {
    display: none;
  }
}

.App.AR .terms .links {
  text-align: end;
}

.App.AR .terms .container {
  flex-direction: row-reverse;
}


