.payroll {
  position: relative;
}

.payroll .heading {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 3;
}

.payroll .heading h1 {
  max-width: 800px;
  margin: 0 auto;
}

.payroll .heading h4 {
  max-width: 700px;
}

.payroll .heading h4, .payroll .heading .button {
  margin: 30px auto;
}

.payroll .topimage {
  width: 100%;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
}

.payroll .topimage .background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.payroll .topimage .background.gradient {
  width: 100%;
  height: 350px;
  z-index: 1;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

.payroll .topimage .swirls {
  width: 100%;
  height: 657px;
  position: absolute;
  display: flex;
  top: -110px;
  overflow: hidden;
  z-index: 2;
}

.payroll .topimage .swirls .left, .payroll .topimage .swirls .right {
  width: 50%;
  height: 100%;
  position: relative;
}

.payroll .topimage .swirls svg {
  position: absolute;
}

.payroll .topimage .swirls .left svg {
  top: 100px;
  right: 340px;
}

.payroll .topimage .swirls .right svg {
  top: -20px;
  left: 330px;
}

.payroll .topimage img {
  position: absolute;
  bottom: 0;
}

.payroll .topimage img.cards {
  max-width: 596px;
  left: 0px;
}

.payroll .topimage .previews {
  max-width: 770px;
  margin: 0px auto;
  position: relative;
}

.payroll .solution {
  margin: 100px auto;
  width: 1016px;
  text-align: start;
}

.payroll .solution h2 {
  width: 600px;
}

.payroll .solution .block {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}

.payroll .solution .block .item {
  width: 394px;
}

.payroll .slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
  width: 1100px;
}

.payroll .slider .links {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 517px;
  padding: 40px 0px;
}

.payroll .slider .links div {
  cursor: pointer;
}

.payroll .slider .links div .dot {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  display: none;
  background: #EEEEF2;
  transition: all 0.5s ease;
}

.payroll .slider .links div:hover, .payroll .slider .links div.active {
  color: #B166EB;
  background: linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.5s ease;
}

.payroll .slider .sliderwrapper {
  height: 517px;
  overflow: visible;
  background: #F4F7FC;
  border-radius: 30px;
  width: 80%;
}

.payroll .slider .keen-slider {
  height: 517px;
}

.payroll .slider .keen-slider .keen-slider__slide {
  padding: 20px 50px;
  width: 600px;
  text-align: start;
}

.payroll .transfer {
  margin: 100px auto;
  width: 1390px;
  height: 1347px;
  color: white;
  position: relative;
}

.payroll .transfer .background {
  position: absolute;
  height: 1347px;
  border-radius: 30px;
}

.payroll .transfer h2 {
  position: relative;
  padding-top: 60px;
  margin: 0px auto;
  width: 650px;
}

.payroll .transfer .tree, .payroll .transfer .safety {
  position: relative;
  display: flex;
  margin: 50px 50px;
  align-items: center;
}

.payroll .transfer .tree .cards {
  height: 458px;
  display: flex;
  align-items: center;
}

.payroll .transfer .tree .workers {
  margin-left: 30px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payroll .transfer .tree .workers .worker {
  background-color: #21232B;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
}

.payroll .transfer .safety {
  margin-top: 50px;
  text-align: start;
}

.payroll .transfer .safety h3 {
  margin: 30px 0px;
}

.payroll .transfer .safety h2 {
  padding-top: 0px;
}

.payroll .transfer .safety h2 span {
  color: #B166EB;
  background: linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.payroll .transfer .safety .body {
  color: #A5A9BB
}

.payroll .transfer .safety .text, .payroll .transfer .safety .boxes {
  width: 50%;
}

.payroll .transfer .safety .boxes {
  display: flex;
}

.payroll .transfer .safety .boxes .row {
  margin: 0 20px;
}

.payroll .transfer .safety .boxes .row .box {
  width: 100%;
  height: 218px;
  
  background: rgba(15, 7, 31, 0.5);
  box-shadow: 20px 4px 84px rgba(9, 3, 40, 0.7);
  backdrop-filter: blur(44px);
  border-radius: 15px;
  margin: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.payroll .transfer .safety .boxes .row .box h5 {
  color: #A5A9BB;
  margin-top: 30px;
}

.payroll .commodo {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  height: 515px;
  width: 1390px;
  margin: 0 auto;
}

.payroll .commodo .commodo-left, .payroll .commodo .commodo-right {
  display: flex;
  max-height: 100%;
}

.payroll .commodo img {
  width: 50%;
}

.payroll .commodo .commodo1 {
  align-self: baseline;
  margin-right: 20px;
}

.payroll .commodo .commodo2 {
  align-self: flex-end;
}

.payroll .commodo .commodo3 {
  align-self: center;
  margin-right: 20px;
}

.payroll .commodo .text {
  width: 600px;
  padding: 0 44px;
}

.payroll .earlyaccess {
  height: 312px;
  width: 1014px;
  margin: 100px auto;
  position: relative;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}

.payroll .earlyaccess .background {
  position: absolute;
  top: 0px;
  left: 0;
}

.payroll .earlyaccess h1 {
  position: relative;
  margin: 50px;
  width: 490px;
}

.payroll .earlyaccess .item {
  position: relative;
  margin-right: 50px;
}

@media only screen and (max-width: 1440px) {
  .payroll .transfer {
    width: calc(100% - 40px);
  }

  .payroll .transfer .tree .screenshot {
    width: 40%;
  }

  .payroll .commodo {
    width: 100%;
  }

}

@media only screen and (max-width: 1200px) {
  .payroll .slider, .App.AR .payroll .slider {
    width: 900px;
  }

  .payroll .slider .sliderwrapper, .App.AR .payroll .slider .sliderwrapper {
    width: 60%;
  }

  .payroll .solution, .App.AR .payroll .solution {
    width: calc(100% - 40px);
    padding: 0px 20px;
  }

  .payroll .earlyaccess, .App.AR .payroll .earlyaccess {
    width: calc(100% - 80px);
    padding: 0px 40px;
    height: 312px;
  }

  .payroll .earlyaccess .background, .App.AR .payroll .earlyaccess .background {
    height: 312px;
    width: 100%;
  }

  .payroll .earlyaccess h1, .App.AR .payroll .earlyaccess h1 {
    font-size: 54px;
  }

}

@media only screen and (max-width: 1100px) {
  .payroll .transfer .safety .text {
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .payroll .slider, .App.AR .payroll .slider {
    width: 800px;
  }
}

@media (orientation: portrait) {

  .payroll .topimage {
    width: 100%;
    height: 707px;
  }

  .payroll .topimage img.cards {
    width: 100%;
  }

  .payroll .heading {
    top: 60px;
  }

  .payroll .heading h1 {
    width: calc(100% - 80px);
    margin: 0px 30px;
  }

  .payroll .solution {
    margin: 40px 20px 60px 20px;
  }

  .payroll .solution h2 {
    width: 100%;
  }

  .payroll .solution .block {
    flex-direction: column;
    width: 100%;
  }

  .payroll .solution .block .item {
    width: 100%;
  }

  .payroll .slider {
    flex-direction: column-reverse;
    margin: 60px 20px;
    width: calc(100% - 40px);
  }

  .payroll .slider .keen-slider {
    position: relative;
    overflow: hidden;
  }

  .payroll .slider .sliderwrapper, .App.AR .payroll .slider .sliderwrapper {
    width: 100%;
    height: 370px;
  }

  .payroll .slider .keen-slider, .payroll .slider .keen-slider .keen-slider__slide {
    width: 100%;
    height: 370px;
  }

  .payroll .slider .keen-slider .keen-slider__slide h2 {
    margin-top: 0;
  }

  .payroll .slider .links {
    height: auto;
    flex-direction: row;
    padding: 40px 0 20px;
  }

  .payroll .slider .links div h4 {
    display: none;
  }

  .payroll .slider .links div .dot {
    display: block;
    transition: all 0.5s ease;
    margin: 0px auto;
  }

  .payroll .slider .links div:hover .dot {
    background: #EEEEF2;
  }

  .payroll .slider .links div.active {
    width: 50px;
    height: 16px;
  }

  .payroll .slider .links div {
    width: 50px;
    height: 16px;
  }

  .payroll .slider .links div.active .dot {
    width: 50px;
    height: 16px;
    background: linear-gradient(88.49deg, #F8F1E9 -10.61%, #D19CBE 38.77%, #8F8DE2 82.14%, #B5DEF9 118.29%, #B5DEF9 162.86%);
    transition: all 0.5s ease;
  }


  .payroll .transfer {
    width: calc(100% - 40px);
    height: fit-content;
    position: relative;
    margin: 60px 20px;
    padding: 20px 0px;
  }

  .payroll .transfer .background {
    width: 100%;
    height: 100%;
  }

  .payroll .transfer .tree .screenshot {
    width: auto;
  }

  .payroll .transfer .tree {
    flex-direction: column;
    margin: 20px 20px;
  }

  .payroll .transfer .safety .text, .payroll .transfer .safety .boxes {
    width: auto;
  }

  .payroll .transfer .safety {
    width: 100%;
    flex-direction: column-reverse;
    margin: 30px 0;
  }

  .payroll .transfer .tree .cards {
    height: 188px;
    width: auto;
    transform: rotate(0deg) !important;
  }

  .payroll .transfer .tree .cards img {
    height: 188px;
  }

  .payroll .transfer .tree .workers {
    margin: 30px 0 0 0;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .payroll .transfer .tree .workers .worker {
    background-color: transparent;
    padding: 10px 20px 10px 10px;
  }

  .payroll .transfer .tree .workers .worker img {
    width: 48px;
    height: 48px;
  }

  .payroll .transfer h2 {
    width: 80%;
  }

  .payroll .transfer .safety .boxes {
    flex-direction: column;
    width: 100%;
  }

  .payroll .transfer .safety .boxes .row {
    margin: 0 20px;
  }

  .payroll .transfer .safety .boxes .row .box {
    margin: 20px 0px 0;
    width: 100%;
  }

  .payroll .transfer .safety h2 {
    margin: 60px 20px 0;
  }

  .payroll .transfer .safety h3, .payroll .transfer .safety .body {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
  }

  .payroll .commodo {
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 60px 20px;
    height: fit-content;
  }


  .payroll .commodo .text {
    width: 100%;
    padding: 0;
  }

  .payroll .commodo .commodo-left {
    width: 100%;
    justify-content: space-between;
    height: 253px;
    align-items: center;
  }

  .payroll .commodo .commodo1, .payroll .commodo .commodo2, .payroll .commodo .commodo3 {
    margin: 0px;
  }

  .payroll .commodo .commodo1, .payroll .commodo .commodo4 {
    width: 83px;
  }

  .payroll .commodo .commodo2, .payroll .commodo .commodo3 {
    width: 80px;
  }

  .payroll .commodo .commodo1 {
    align-self: center;
  }

  .payroll .commodo .commodo2 {
    align-self: baseline;
  }

  .payroll .commodo .commodo3 {
    align-self: flex-end;
  }

  .payroll .commodo .commodo4 {
    align-self: flex-end;
  }

  .payroll .earlyaccess, .App.AR .payroll .earlyaccess {
    flex-direction: column;
    width: 335px;
    margin: 50px auto;
    height: 368px;
    padding: 20px;
  }

  .payroll .earlyaccess .background, .App.AR .payroll .earlyaccess .background {
    height: 368px;
    width: 335px;
  }

  .payroll .earlyaccess h1, .App.AR .payroll .earlyaccess h1 {
    margin: 60px 40px;
    width: auto;
    text-align: center;
  }

  .payroll .earlyaccess .item {
    margin: 0;
  }


  

}

.App.AR .payroll .solution {
  display: flex;
  flex-direction: column;
}

.App.AR .payroll .solution .block,
.App.AR .payroll .slider,
.App.AR .payroll .transfer .tree, 
.App.AR .payroll .transfer .safety,
.App.AR .payroll .transfer .safety .boxes,
.App.AR .payroll .earlyaccess
 {
  flex-direction: row-reverse;
}

.App.AR .payroll .transfer .safety .boxes {
  margin-right: 30px;
}

.App.AR .payroll .earlyaccess .item {
  margin-left: 50px;
}

.App.AR .payroll .transfer .safety .boxes .box {
  align-items: flex-end;  
}

.App.AR .payroll .slider .keen-slider {
  display: flex;
  justify-content: flex-end;
}

.App.AR .payroll .solution .block .item {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.App.AR .payroll .solution h2 {
  align-self: flex-end;
}

.App.AR .payroll .transfer .background {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.App.AR .payroll .transfer .safety {
  width: auto; 
}

.App.AR .payroll .transfer .safety h2 {
  flex-direction: row-reverse;
  display: flex;
  justify-content: start;
}

.App.AR .payroll .transfer .safety h2 span {
  margin-right: 14px;
}

.App.AR .payroll .transfer .tree .workers {
  margin-left: 0;
  margin-right: 30px;
}

@media (orientation: portrait) {
  .App.AR .payroll .solution .block {
    flex-direction: column;
  }

  .App.AR .payroll .slider {
    flex-direction: column-reverse;
    margin: 60px 20px;
    width: calc(100% - 40px);
  }

  .App.AR .payroll .slider .links {
    flex-direction: row-reverse;
  }

  .App.AR .payroll .slider .keen-slider {
    justify-content: flex-start;
  }

  .App.AR .payroll .transfer .tree .cards {
    transform: rotate(0deg) !important;
  }

  .App.AR .payroll .transfer .safety {
    flex-direction: column-reverse;
  }

  .App.AR .payroll .transfer .safety .boxes, .App.AR .payroll .transfer .tree {
    flex-direction: column;
  }

  .App.AR .payroll .transfer .safety h2 {
    margin: 60px 0 0 -20px;
    display: block;
    width: 100%;
  }

  .App.AR .payroll .earlyaccess {
    flex-direction: column;
  }

  .App.AR .payroll .earlyaccess .item {
    margin-left: 0;
  }
}