.whitepapers {
  margin: 0 auto  122px;
  width: 1220px;
  position: relative;
}

.whitepapers .container {
  margin: 100px 103px;
  display: flex;
}

.whitepapers .whitepaper {
  width: 394px;
  text-align: start;
  margin-bottom: 36px;
}

.whitepapers .whitepaper.left {
  margin-right: 212px;
}

.links {
  width: 282px;
  text-align: start;
}

.whitepapers .whitepaper h5, .whitepapers .whitepaper .button {
  margin-bottom: 10px;
  margin-top: 30px;
}

.whitepapers .whitepaper .button, .whitepapers .whitepaper svg {
  display: inline-flex;
}

.spacer {
  margin: 0 40px;
}

.heading {
  position: absolute;
  top: 140px;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .whitepapers {
    width: calc(100% - 40px);
    margin-bottom: 0px;
  }
  .whitepapers .container {
    margin: 100px 50px;    
  }
  .whitepapers .container .whitepaper.left {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .whitepapers .container {
    flex-direction: column;
    align-items: center;
  }

  .whitepapers .container .whitepaper.left {
    margin-right: 0px;
  }
}

@media (orientation: portrait) {
  .whitepapers {
    padding: 30px 20px 30px;
    position: relative;
  }

  .whitepapers .container {
    margin-top: 35px;
  }

  .whitepapers .topimage {
    height: 457px;
  }

  .links, .spacer {
    display: none;
  }

  .whitepapers .whitepaper, .whitepapers .whitepaper.left {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 60px;
  }

  .whitepapers .whitepaper p {
    width: 100%;
  }

  .whitepapers .whitepaper .button {
    line-height: 1.2rem;
  }

  .whitepapers h3 {
    text-align: center;
  }
}

.App.AR .whitepapers .links {
  text-align: end;
}

.App.AR .whitepapers .container {
  flex-direction: row-reverse;
}

.App.AR .whitepapers .whitepaper {
  text-align: end;
}