.whitepapers {
  margin: 0 auto  122px;
  width: 1220px;
  position: relative;
}

.whitepapers .container {
  margin-top: 65px;
}

.links {
  width: 282px;
  text-align: start;
}

.links h5 {
  margin-bottom: 30px;
}

.spacer {
  margin: 0 40px;
}

.whitepapers .content {
  width: 899px;
  text-align: start;
}

.whitepapers .content p {
  margin-bottom: 10px;
}

.whitepapers .content h3 {
  margin: 40px 0 30px;
}

.whitepapers .content .whitepaper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}

.whitepapers .content .whitepaper.left {
  flex-direction: row-reverse;
}

.whitepapers .content .whitepaper p {
  max-width: 600px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.whitepapers .content .whitepaper img {
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}

.heading {
  position: absolute;
  top: 102px;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .whitepapers {
    width: calc(100% - 40px);
    margin-bottom: 0px;
  }
}

@media (orientation: portrait) {
  .whitepapers {
    padding: 30px 20px 30px;
    position: relative;
  }

  .whitepapers .container {
    margin-top: 35px;
  }

  .whitepapers .topimage {
    height: 457px;
  }

  .links, .spacer {
    display: none;
  }

  .whitepapers .content .whitepaper, .whitepapers .content .whitepaper.left {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 60px;
  }

  .whitepapers .content .whitepaper p {
    width: 100%;
  }

  .whitepapers .content .whitepaper .button {
    margin: 0px auto;
    line-height: 1.2rem;
  }

  .whitepapers .content h3 {
    text-align: center;
  }
}

.App.AR .whitepapers .links {
  text-align: end;
}

.App.AR .whitepapers .container {
  flex-direction: row-reverse;
}

.App.AR .whitepapers .content .whitepaper {
  text-align: end;
}