.aboutus {
  position: relative;
}

.aboutus .topimage {
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutus .heading {
  position: absolute;
  text-align: center;
  top: 58px;
  width: 100%;
}

.aboutus .heading h1 {
  margin: 0px 20px;
}

.aboutus .whoweare {
  margin: 100px auto;
  display: flex;
  width: 1100px;
}

.aboutus .whoweare .text {
  text-align: start;
  width: 500px;
  margin-right: 50px;
}

.aboutus .whoweare .text h2 {
  margin-top: 0px;
}

.aboutus .whoweare .pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 500px);
}

.aboutus .whoweare .pictures .ash {
  align-self: flex-end;
  margin: 0px 20px;
  max-width: 50%;
}

.aboutus .whoweare .pictures .rayan {
  align-self: baseline;
  margin: 0px 20px;
  max-width: 50%;
}

.aboutus .approach {
  width: 1390px;
  height: 910px;
  margin: 0px auto;
  color: #ffffff;
  position: relative;
  border-radius: 30px;
}

.aboutus .approach .background {
  position: absolute;
  top: 0;
  left: 0;
}

.aboutus .approach h2 {
  padding-top: 60px;
  position: relative;
  max-width: 666px;
  margin: 0 auto;
}

.aboutus .approach .content {
  margin-top: 50px;
  margin-left: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  position: relative;
}

.aboutus .approach .content .cards {
  width: 40%;
}

.aboutus .approach .content .mission {
  width: 50%;
  height: 520px;
  background: rgba(15, 7, 31, 0.5);
  backdrop-filter: blur(44px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  margin-left: 100px;
}

.aboutus .approach .content .mission .ourmission, .aboutus .approach .content .mission .oursolution {
  margin: 25px;
  text-align: start;
}

.aboutus .approach .content .mission .body {
  color: #A5A9BB
}

.aboutus .whysaudi {
  margin: 100px auto;
  width: 1014px;
}

.aboutus .whysaudi .benefits {
  display: flex;
  align-items: center;
  text-align: start;
  width: 100%;
  justify-content: space-between;
}

.aboutus .whysaudi .benefits .benefit {
  margin: 0px 20px;
}

.aboutus .teams {
  margin: 100px auto 100px auto;
  width: 1055px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus .teams .text {
  width: 500px;
  margin-right: 120px;
  text-align: start;
}

.aboutus .teams .text p {
  margin-bottom: 10px;
}

.aboutus .teams .advisors {
  width: 50%;
  height: 486px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus .teams .advisors .left {
  align-self: baseline;
  margin-right: 20px;
}

.aboutus .teams .advisors .right {
  align-self: flex-end;
}


.App.AR .aboutus .whoweare, 
.App.AR .aboutus .whoweare .pictures,
.App.AR .aboutus .approach .content,
.App.AR .aboutus .whysaudi .benefits,
.App.AR .aboutus .teams
 {
  flex-direction: row-reverse;
}

.App.AR .aboutus .approach .content .mission {
  margin-right: 100px;
  margin-left: 0;
}

.App.AR .aboutus .teams .text {
  margin-left: 120px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.App.AR .aboutus .teams .text .button {
  align-self: flex-end;
}

.App.AR .aboutus .approach .content .mission .ourmission, .App.AR .aboutus .approach .content .mission .oursolution, .App.AR .aboutus .whysaudi .benefits .benefit {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.App.AR .aboutus .approach .content {
  margin-left: 0px;
  margin-right: 125px;
}

.App.AR .aboutus .whoweare .text {
  margin-left: 50px;
  margin-right: 0px;
}

@media only screen and (max-width: 1024px) {
  .App.AR .aboutus .whoweare {
    margin: 60px 20px;
    flex-direction: column-reverse;
  }

}

@media only screen and (max-width: 1440px) {
  .aboutus .approach {
    width: calc(100% - 40px);
    background-size: cover;
  }
}

@media only screen and (max-width: 1200px) {
  .aboutus .whoweare, .App.AR .aboutus .whoweare {
    width: calc(100% - 40px);
    margin: 100px 20px;
    flex-direction: column-reverse;
  }

  .aboutus .whoweare .text, .App.AR .aboutus .whoweare .text {
    margin: 20px;
    width: calc(100% - 40px);
  }

  .aboutus .whoweare .pictures, .App.AR .aboutus .whoweare .pictures {
    width: auto;
    max-width: 600px;
    margin: 0px auto 30px;
  }

  .aboutus .whoweare .pictures .rayan {
    margin-bottom: 60px;
  }

}

@media only screen and (max-width: 1024px) {
  .aboutus .teams {
    width: calc(100% - 40px);
    background-size: cover;
  }

  .aboutus .approach {
    margin: 100px 20px;
    height: auto;
  }



  .aboutus .approach .background {
    width: 100%;
    height: 1220px;
  }

  .aboutus .approach .content {
    margin: 0px;
    flex-direction: column;
  }

  .aboutus .approach .content .mission {
    width: auto;
    height: auto;
    margin: 20px;
  }

  .aboutus .whysaudi {
    margin: 100px 0px;
    width: calc(100% - 40px);
    flex-direction: column;
  }

  .aboutus .whysaudi .benefits {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .aboutus .whysaudi .benefits img {
    display: initial;
  }
}

@media only screen and (max-width: 600px) {
  .aboutus .whoweare .pictures {
    max-width: 500px;
  }

  .aboutus .whoweare .pictures .ash, .aboutus .whoweare .pictures .rayan {
    max-width: 40%;
  }
}

@media (orientation: portrait) {
  .aboutus .whoweare,
  .App.AR .aboutus .whoweare,
  .aboutus .whysaudi,
  .App.AR .aboutus .whysaudi,
  .aboutus .approach
   {
    width: calc(100% - 40px);
    margin: 60px 20px;
  }

  .App.AR .aboutus .approach .content .mission .ourmission, .App.AR .aboutus .approach .content .mission .oursolution, .App.AR .aboutus .whysaudi .benefits .benefit {
    align-items: center;
  }
  

  .App.AR .aboutus .whoweare, 
  .App.AR .aboutus .approach .content,
  .App.AR .aboutus .whysaudi .benefits,
  .App.AR .aboutus .teams
   {
    flex-direction: column-reverse;
    text-align: end;
  }

  .App.AR .aboutus .whysaudi .benefits {
    text-align: center;
  }

  .App.AR .aboutus .approach .content {
    flex-direction: column;
    margin: 0;
  }

  .App.AR .aboutus .approach .content .mission, .App.AR .aboutus .teams .text {
    margin: 20px
  }

  .aboutus .heading {
    margin: 0 20px;
    width: calc(100% - 40px);
    top: 60px;
  }



  

  .aboutus .teams {
    margin: 60px 20px;
    flex-direction: column-reverse;
  }

  .aboutus .teams .text {
    margin: 0;
    width: 100%;
  }

  .aboutus .teams .advisors {
    margin: 0;
    width: 100%;
    height: 367px;
  }

  .aboutus .teams .advisors img {
    width: 154px;
  }

  .aboutus .teams .button {
    display: none;
  }

  .aboutus .whysaudi .benefits .benefit {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

