.privacy {
  margin: 0px auto  122px;
  width: 1220px;
  position: relative;
}

.container {
  margin-top: 65px;
}

.links {
  width: 282px;
  text-align: start;
}

.links h5 {
  margin-bottom: 30px;
}

.spacer {
  margin: 0 40px;
}

.privacy .content {
  width: 899px;
  text-align: start;
}

.privacy .content p {
  margin-bottom: 10px;
}

.privacy .content h3 {
  margin: 40px 0 30px;
}

.heading {
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .privacy {
    width: calc(100% - 40px);
    margin-bottom: 0px;
  }
}

@media (orientation: portrait) {
  .privacy {
    padding: 30px 20px 30px;
    position: relative;
  }

  .privacy .topimage {
    height: 457px;
  }

  .links, .spacer {
    display: none;
  }
}

.App.AR .privacy .links {
  text-align: end;
}

.App.AR .privacy .container {
  flex-direction: row-reverse;
}


