.fixedvideo {
  position: fixed;
  height: auto;
  z-index: 0;
  opacity: 0;
  color: #FFFFFF;
  overflow: hidden;
}

.fixedvideo.tools .introducing {
  position: absolute;
    left: 0px;
    top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixedvideo.tools .introducing .title {
  opacity: 0.3;
  text-align: center;
}

.fixedvideo.tools .introducing .subtitle {
  font-family: 'Epilogue', sans-serif;
  font-size: 21px;
  color: #A5A9BB;
  opacity: 0;
}

.fixedvideo.tools .introducing .button {
  opacity: 0;
}

.fixedvideo.tools .wanttotalk {
  position: absolute;
  width: 100%;
  margin-top: -100px;
  opacity: 0.3;
}

.fixedvideo.tools .wanttotalk .inner {
  width: 80%;
  height: 208px;
  margin: 0px auto;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%);
  box-shadow: 0px 14px 44px rgba(177, 103, 233, 0.4);
  border-radius: 30px;
}

.fixedvideo.tools .videoholder .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, #000000, 80%, rgba(255,0,0,0));
}

.fixedvideo.einvoice .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, #252382, 93%, rgba(255,0,0,0));
  border-radius: 30px;
}

.homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .scrollpage {
  height: fit-content !important;
}

.homepage .topimage {
  height: 750px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.homepage .topimage .background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.homepage .topimage .swirls {
  width: 100%;
  height: 657px;
  position: absolute;
  display: flex;
  top: -110px;
  overflow: hidden;
}

.homepage .topimage .swirls .left, .homepage .topimage .swirls .right {
  width: 50%;
  height: 100%;
  position: relative;
}

.homepage .topimage .swirls svg {
  position: absolute;
}

.homepage .topimage .swirls .left svg {
  top: -54px;
  right: 340px;
}

.homepage .topimage .swirls .right svg {
  top: 20px;
  left: 330px;
}

.homepage .topimage img {
  position: absolute;
  bottom: 0;
}

.homepage .topimage .previews {
  width: 770px;
  margin: 0px auto;
  position: relative;
}

.homepage .topimage img.iphone {
  width: 244px;
  left: 0px;
}

.homepage .topimage img.screenshot {
  width: 533px;
  left: 210px;
}

.homepage .topimage img.waves {
  width: 100%;
}

.homepage .contentcontainer {
  width: 1440px;
  padding: 0 25px;
  display: block;
}

.homepage .investors {
  width: 1014px;
  margin: 100px auto;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.homepage .investors .opportunity {
  width: 40%;
}

.homepage .howisworking {
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1014px;
}

.homepage .howisworking h2, .homepage .howisworking span {
  width: 600px;
}

.homepage .howisworking .tabs {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.homepage .howisworking .tabs .tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 48px;
  background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.homepage .howisworking .tabs .tab.active {
  background: linear-gradient(0deg, #171717, #171717), linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%);
}

.homepage .howisworking .tabs .tab.active h5 {
  background: linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homepage .howisworking .tabs .tab img {
  float: left;
  margin-right: 10px;
}

.homepage .howisworking .tabs .tab h5 {
  font-size: 16px;
}

.homepage .howisworking .content {
  background: #F4F7FC;
  border-radius: 30px;
  height: 622px;
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-size: 1014px 622px;
}

.homepage .howisworking .content .application {
  position: absolute;
  left: 139px;
  top: 74px;
  width: 253px;

}

.homepage .howisworking .content .logotype {
  position: absolute;
  left: 35px;
  top: 295px;
}

.homepage .howisworking .content .colors {
  position: absolute;
  left: 305px;
  top: 217px;
}

.homepage .howisworking .content .appfeatures {
  width: 327px;
  height: 592px;
  background: #FFFFFF;
  border-radius: 15px;
  margin: 15px;
}

.homepage .howisworking .content .appfeatures .appfeaturescontent {
  margin: 25px;
  text-align: start;
}


.homepage .getmoredone {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1014px;
  text-align: start;
}

.homepage .getmoredone h2, .homepage .getmoredone span {
  width: 550px;
}

.homepage .getmoredone .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.homepage .getmoredone .content .MuiGrid-item {
  position: relative;
}

.homepage .getmoredone .content .MuiGrid-item .multipleways {
  position: absolute;
  top: 126px;
  left: 46px;
  width: 240px;
}

.homepage .getmoredone .content .MuiGrid-item .automaticreminder {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 200px;
}

.homepage .getmoredone .content .MuiGrid-item  .trackandmanage {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100%;
}

.homepage .getmoredone .content .MuiGrid-item div {
  width: 324px;
  margin: 0px auto;
  position: relative;
}

.homepage .getmoredone .content .MuiGrid-item div .text {
  position: absolute;
  left: 20px;
  bottom: 25px;
  width: calc(100% - 40px);
}

.homepage .getmoredone .content .MuiGrid-item div .text h4 {
  margin: 10px 0px;
}

.homepage .einvoice {
  margin: 0;
  width: 100%;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 0px;
  height: 1002px;
  color: #ffffff;
}

.homepage .einvoice1 {
  margin: 100px 0 0 0;
}

.homepage .buttons {
  position: absolute;
  top: 300px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.homepage .buttons img {
  margin-right: 20px;
  cursor: pointer;
}

.homepage .buttons span {
  font-size: 11px;
  width: 80px;
}

.homepage .buttons .avatars {
  width: 80px;
  height: 30px;
  position: relative;
}

.homepage .buttons .avatars img {
  position: absolute;
  top: 0px;
  width: 30px;
  border-radius: 50%;
  border: 2px white solid;
}

.homepage .buttons .avatars img.avatar2 {
  left: 20px;
}

.homepage .buttons .avatars img.avatar3 {
  left: 40px;
}

.homepage .heading {
  position: absolute;
  top: 50px;
  width: 100%;
}

.homepage .heading h1 {
  max-width: 800px;
  margin: 0px auto;
}

.homepage .heading h4 {
  max-width: 700px;
  margin: 20px auto;
  font-size: 16px;
}

.homepage .einvoice .videoholder {
  border-radius: 30px;
  overflow: hidden;
  height: 400px;
  position: relative;
}

.homepage .einvoice .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, #252382, 93%, rgba(255,0,0,0));
  border-radius: 30px;
}

.homepage .einvoice video {
  width: 1440px;
  border-radius: 30px;
  position: absolute;
  left: 0;
}

.einvoice .waves {
  position: absolute;
  top: -55px;
  left: -90px;
  width: 100% !important;
  opacity: 0;
}

.einvoice .waves img {
  max-width: none;
}

.einvoice .introducing {
  position: absolute;
  left: 0px;
  top: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.einvoice .introducing h1 {
  opacity: 0.3;
}

.homepage .tools .introducing {
  top: 100px;
}

.homepage .tools .introducing .button {
  opacity: 0;
}

.homepage .tools .introducing .title {
  opacity: 0.3;
}

.einvoice .introducing .subtitle {
  font-family: 'Epilogue', sans-serif;
  font-size: 21px;
  color:#A5A9BB;
  opacity: 0;
}

.einvoice .body {
  color:#A5A9BB;
}

.einvoice .get_paid {
  position: absolute;
  width: 50%;
  height: 357px;
  top: 445px;
  text-align: start;
  opacity: 0;
}

.einvoice .get_paid div {
  width: 60%;
  margin: 0 auto;
}

.einvoice .get_paid .subtitle {
  color:#A5A9BB;
  display: block;
}

.einvoice .benefits {
  position: absolute;
  width: 50%;
  height: 369px;
  right: 0px;
  top: 430px;
}

.einvoice .benefits div {
  width: 80%;
}

.einvoice .benefits .button {
  background: #ffffff;
  border-radius: 10px;
  color: #252382;
  width: fit-content;
  padding: 0px 20px;
  height: 66px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 35px;
  margin-left: 200px;
  opacity: 0;
}

.homepage .einvoice .benefits .button.quick {
  margin-left: 7px;
}

.homepage .einvoice .benefits .button.saves {
  margin-left: 122px;
}

.homepage .einvoice .benefits .button.cashflow {
  margin-left: 0px;
}

.homepage .einvoice .benefits .button.flexibility {
  margin-left: 216px;
}

.einvoice .benefits .button img {
  float: left;
  margin: -10px 10px 0px 0px;
}

.homepage .tools {
  height: fit-content;
  margin: 100px 0 200px;
}

.homepage .tools.einvoice .videoholder {
  height: fit-content;
  position: relative;
}

.homepage .tools.einvoice .videoholder .gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, #000000, 70%, rgba(255,0,0,0));
  border-radius: 30px;
}

.homepage .tools.einvoice video {
  position: relative;
}

.homepage .tools .wanttotalk {
  position: absolute;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
}

.homepage .tools .wanttotalk .inner {
  width: 80%;
  height: 208px;
  margin: 0px auto;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(90deg, #F1A4DE 0%, #B166EB 50.52%, #7D39F5 100%);
  box-shadow: 0px 14px 44px rgba(177, 103, 233, 0.4);
  border-radius: 30px;
}

@media only screen and (max-width: 1440px) {
  .homepage .contentcontainer {
    width: 100%;
    padding: 0px;
    -webkit-text-fill-color: initial;
  }

  .homepage .einvoice {
    width: 100%;
  }

  .homepage .howisworking {
    width: calc(100% - 40px);
  }

  .homepage .einvoice .gradient {
    width: calc(100% - 40px);
    margin: 0 20px;
    background-image: linear-gradient(to top, #252382, 95%, rgba(255,0,0,0));
  }

  .homepage .einvoice .videoholder {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .homepage .investors, .homepage .getmoredone {
    width: 100%;
    padding: 0 20px;
  }

  .homepage .getmoredone .MuiGrid-container {
    flex-direction: column !important;
  }

  .homepage .getmoredone .content .MuiGrid-container .MuiGrid-item {
    max-width: 100% !important;
  }

  .homepage .tools .wanttotalk .inner h1, .fixedvideo.tools .introducing .title {
    font-size: 56px;      
  }

  .homepage .tools .introducing {
    top: 50px;
  }

  .homepage .tools .introducing h1 {
    font-size: 54px;
  }

  
  .homepage .einvoice .benefits .button.saves {
    margin-left: 60px;
  }

  .homepage .einvoice .benefits .button.flexibility {
    margin-left: 70px;
  }

  .homepage .einvoice .benefits div {
    width: auto;
  }
}

@media (orientation: portrait) {
  .homepage .topimage {
    height: 707px;
    width: 100%;
    overflow: hidden;
  }

  .homepage .topimage .background {
    background-size: 100% 607px !important;
  }

  .homepage .topimage .previews {
    width: 154px;
  }

  .homepage .topimage img.iphone {
    width: 154px;
  }

  .homepage .heading {
    top: 58px;
  }

  .homepage .heading h1, .homepage .heading h4 {
    margin: 0px 20px;
  }

  .homepage .heading h4 {
    margin-top: 20px;
  }

  .homepage .buttons {
    position: absolute;
    top: 350px;
    display: initial;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .homepage .buttons div {
    justify-content: space-evenly;
  }

  .homepage .buttons .avatars, .homepage .buttons span {
    margin-top: 20px;
  }

  .homepage .buttons .apps img {
    margin-right: 0px;
    height: 44px;
  }

  .homepage .getmoredone {
    margin: 10px auto 60px;
  }

  .homepage .investors {
    margin: 60px auto;
  }

  .homepage .investors img {
    margin: 0px auto;
  }

  .homepage .howisworking {
    margin: 30px auto 40px;
  }

  .homepage .tools {
    margin-top: 60px;
  }

  .homepage .tools .introducing .button, .homepage .tools .introducing .title, .homepage .tools .introducing .subtitle {
    opacity: 0;
  }

  .homepage .investors {
    display: block;
  }

  .homepage .investors .opportunity {
    width: auto;
  }

  .homepage .einvoice {
    height: 1402px;
  }

  .homepage .einvoice .videoholder {
    height: 500px;
    padding: 0 20px;
  }

  .homepage .einvoice video {
    max-width: none;
    margin-left: -400px;
    position: unset;
  }
  
  .homepage .einvoice .introducing {
    top: 100px;
    margin: 45px;
    width: calc(100% - 90px);
  }

  .homepage .einvoice .introducing h1, .homepage .einvoice .introducing .subtitle, .homepage .einvoice .benefits .waves {
    opacity: 0;
  }

  .homepage .einvoice .introducing .subtitle {
    font-size: 18px;
    margin-top: 30px;
  }

  .homepage .einvoice.tools .introducing {
    top: 0px;
  }

  .homepage .einvoice.tools {
    height: 800px;
  }

  .homepage .tools .wanttotalk {
    left: 0;
  }

  .homepage .tools .wanttotalk .inner {
    width: 100%;
    left: 0;
    bottom: -50px;
    top: 520px;
    height: 250px;
    padding: 20px;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-around;
  }
   
  .homepage .einvoice .benefits {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    text-align: start;
    opacity: 1;
    margin-top:-85px;
    padding: 20px 40px;
  }

  .homepage .einvoice .benefits .button {
    line-height: 20px;
  }

  .homepage .einvoice .benefits .button.saves {
    margin-left: 20px;
  }

  .homepage .einvoice .benefits .button.flexibility {
    margin-left: 40px;
  }

  .homepage .einvoice .benefits div {
    width: auto;
  }

  .homepage .einvoice .get_paid {
    position: relative;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    text-align: start;
    opacity: 1;
    padding: 20px;
  }

  .einvoice .get_paid div {
    width: calc(100% - 40px);
  }

  .homepage .einvoice .waves {
    position: absolute;
    left: 20px;
    z-index: 0;
    width: calc(100% - 40px) !important;
  }

  .homepage .einvoice .waves img {
    width: 100%;
  }

  .homepage .tools.einvoice {
    height: 600px;
  }

  .homepage .tools.einvoice .videoholder {
    height: inherit;
  }

  .homepage .getmoredone .content {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .homepage .getmoredone .content {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .homepage .getmoredone .content .MuiGrid-container .MuiGrid-item img {
    margin: 0px auto !important;
  }

  .homepage .getmoredone h2, .homepage .getmoredone span, .homepage .howisworking .content, .homepage .howisworking .tabs, .homepage .howisworking h2, .homepage .howisworking span, .homepage .howisworking .content {
    width: auto;
    height: auto;
  }

  .homepage .howisworking .tabs {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }

  .homepage .howisworking .tabs .tab {
    width: 100%;
    padding: 0;
    background: none !important;
    justify-content: flex-start;
    text-align: start;
  }

  .homepage .howisworking .content {
    display: initial;
    background-size: contain;
    background-position-y: -80px;
    background-repeat: no-repeat;
  }

  .homepage .howisworking .content .application, .homepage .howisworking .content .colors {
    position: initial;
    margin: 34px auto;
  }

  .homepage .howisworking .content .logotype {
    left: 0px;
    top: 202px;
  }
}


.App.AR .homepage .howisworking .tabs,
.App.AR .homepage .howisworking .content,
.App.AR .homepage .howisworking .tabs .tab,
.App.AR .homepage .buttons,
.App.AR .homepage .buttons .apps,
.App.AR .homepage .buttons .avatarswrapper
 {
  flex-direction: row-reverse;
}

.App.AR .homepage .howisworking .tabs .tab h5 {
  text-align: end;
}

.App.AR .homepage .howisworking .tabs .tab img {
  margin-right: 0;
  margin-left: 10px;
}

.App.AR .homepage .buttons img {
  margin-right: 0;
  margin-left: 20px;
}

.App.AR .homepage .investors {
  flex-direction: row;
}

.App.AR .homepage .investors .opportunity a {
  display: flex;
  flex-direction: row-reverse;
}

.App.AR .homepage .howisworking .content .appfeatures .appfeaturescontent img {
  display: inline;
}

.App.AR .homepage .howisworking .content:visited {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.App.AR .homepage .howisworking .content .application {
  right: 139px;
  left: auto;
}

.App.AR .homepage .howisworking .content .logotype {
  right: 35px;
  left: auto;
}

.App.AR .homepage .howisworking .content .colors {
  right: 305px;
  left: auto;
}

.App.AR .homepage .einvoice .benefits .button img {
  float: right;
  margin: -10px 0px 0px 10px;
}

.App.AR .homepage .einvoice .benefits .button {
  margin-right: 0px;
  margin-left: auto;
}

.App.AR .homepage .einvoice .get_paid {
  right: 0px;
  left: auto;
}

.App.AR .homepage .einvoice .benefits {
  left: 20px;
  right: 0;
}

.App.AR .homepage .einvoice .waves {
  left: 0px;
  right: 0;
  width: 50%;
  height: 801px;
}

.App.AR .homepage .einvoice .benefits .button.quick {
  margin-right: 7px;
  margin-left: auto;
}

.App.AR .homepage .einvoice .benefits .button.saves {
  margin-right: 22px;
  margin-left: auto;
}

.App.AR .homepage .einvoice .benefits .button.flexibility {
  margin-right: 16px;
  margin-left: auto;
}


.App.AR .homepage .einvoice .waves img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  right: 0px;
  position: absolute;
}

@media (orientation: portrait) {
  .App.AR .homepage .einvoice .benefits {
    right: auto;
    left: auto;
  }

  .App.AR .wanttotalk {
    flex-direction: row-reverse;
  }


  .App.AR .homepage .einvoice .waves {
    right: auto;
    left: auto;
    margin: 0px 20px;
    width: calc(100% - 40px);
  }

  .App.AR .homepage .einvoice .benefits .button.quick {
    margin-right: 7px;
    margin-left: auto;
  }
  
  .App.AR .homepage .einvoice .benefits .button.saves {
    margin-right: 20px;
    margin-left: auto;
  }
  
  .App.AR .homepage .einvoice .benefits .button.flexibility {
    margin-right: 40px;
    margin-left: auto;
  }

}


@media screen and (max-width: 900px) and (min-width: 600px) and (orientation: portrait)  {
  .homepage .einvoice .benefits .button, .App.AR .homepage .einvoice .benefits .button {
    margin: 0px auto 35px !important;
  }
}